[submodule "refimpl/glulxe"]
	path = refimpl/glulxe
	url = https://github.com/erkyrath/glulxe
[submodule "refimpl/quixe"]
	path = refimpl/quixe
	url = https://github.com/erkyrath/quixe
[submodule "refimpl/git"]
	path = refimpl/git
	url = https://github.com/DavidKinder/Git
[submodule "refdata/aa"]
	path = refdata/aa
	url = https://github.com/lessrest/aa
[submodule "tools/inform7-nix"]
	path = tools/inform7-nix
	url = https://github.com/mbrock/inform7-nix
